@import './style/tailwind.css';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body,
#app,
#content {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.graph__wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.graph {
	width: 100%;
	/* min-height: 100vh; */
	height: 100%;
}

/* Menu */

.menu {
	position: absolute;
	bottom: 0;
	left: 50%;

	height: 50px;
	/*background: var(--color-purple-50);*/
	transform: translateX(-50%);

	&.menu--hidden {
		display: none;
	}
}

.menu .menu__item:first-child .menu__link {
	padding-left: 20px;
	border-top-left-radius: 25px;
}

.menu .menu__item:last-child .menu__link {
	padding-right: 20px;
	border-top-right-radius: 25px;
}

.menu__nav {
	height: 100%;

	border: 1px solid var(--color-pink-400);

	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.menu__list {
	height: 100%;
	display: flex;
	align-items: center;
	list-style-type: none;
}

.menu__item {
	height: 100%;
}

.menu__link {
	padding: 10px 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

	border: none;
	height: 100%;
	cursor: pointer;

	transition: all 0.4s;

	&.menu__link--pink {
		background: var(--color-pink-100);
		color: var(--color-pink-900);

		&:hover {
			background: var(--color-pink-200);
		}
	}

	&.menu__link--green {
		background: var(--color-green-100);
		color: var(--color-green-900);

		&:hover {
			background: var(--color-green-200);
		}
	}

	&.menu__link--sky {
		background: var(--color-sky-100);
		color: var(--color-sky-900);

		&:hover {
			background: var(--color-sky-200);
		}
	}

	&.menu__link--amber {
		background: var(--color-amber-100);
		color: var(--color-amber-900);

		&:hover {
			background: var(--color-amber-200);
		}
	}

	&.menu__link--lime {
		background: var(--color-lime-100);
		color: var(--color-lime-900);

		&:hover {
			background: var(--color-lime-200);
		}
	}

	&.menu__link--teal {
		background: var(--color-teal-100);
		color: var(--color-teal-900);

		&:hover {
			background: var(--color-teal-200);
		}
	}

	&.menu__link--indigo {
		background: var(--color-indigo-100);
		color: var(--color-indigo-900);

		&:hover {
			background: var(--color-indigo-200);
		}
	}

	&.menu__link--purple {
		background: var(--color-purple-100);
		color: var(--color-purple-900);

		&:hover {
			background: var(--color-purple-200);
		}
	}

	&.menu__link--rose {
		background: var(--color-rose-100);
		color: var(--color-rose-900);

		&:hover {
			background: var(--color-rose-200);
		}
	}
}

.menu__link--active {
	background: var(--color-pink-300);
}

/* Menu end */

.panel {
	position: absolute;

	right: -100%;
	background: var(--color-purple-50);

	height: 100%;
	padding: 20px 25px;

	box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
	-webkit-box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
	-moz-box-shadow: -4px 0px 19px -1px rgba(135, 135, 135, 0.05);
}

.panel--opened {
	right: 0;
}

.panel__form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.panel__form-label {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

.panel__form-input {
	padding: 3px 6px;
	border: 1px solid var(--color-slate-400);
	border-radius: 10px;
}

.panel__form-button {
	border-radius: 10px;
	padding: 5px 10px;
	border: none;
	background: var(--color-green-300);
	cursor: pointer;
}

.panel__form-button:hover {
	background: var(--color-green-400);
}

.content--circle {
	transition: 0.5s all;
}

.hide-menu {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;

	border-radius: 10px;

	border: none;
	background: transparent;

	transition: all 0.3s ease-in-out;

	box-shadow: 0px 0px 10px var(--color-gray-200);
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--color-gray-300);

	& .hide-menu__icon {
		width: 28px;
	}

	&.hide-menu--active {
		opacity: 0;
	}

	&:hover {
		opacity: 1;
		color: var(--color-pink-600);

		border: 1px solid var(--color-pink-300);
		background: var(--color-pink-100);
	}
}
